.contenedor1 {
    display: flex;
    justify-content:center;
    align-items:center
}


h2, img, .contenedor2{
    display: flex;
    justify-content:center;
    align-items:center
}


h1,p, li{
    display: flex;
    justify-content:center;
    align-items:center
}



body {
    background-color: peachpuff;
    font-family: sans-serif;
}

h1 {
    color:blueviolet;
}

li {
    color:black;
}


p {
    color: black;
    
}


footer {
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    align-items:end
}